<div class="forget-wrapper d-flex justify-content-center align-items-center">

<div class="forget-card">

<!-- HEADER -->
<div class="header-area text-center">

<div class="icon-box">
<i class="fa-solid fa-unlock-keyhole"></i>
</div>

</div>

<!-- BACK -->
<div class="p-4">

<div class="back-link mb-3" (click)="goBack()">
<i class="fa-solid fa-arrow-left"></i>
Back to Login
</div>

<h3 class="title">Forgot Password?</h3>

<p class="subtitle">
Enter your registered email or phone number and we'll send you a reset code.
</p>

<form [formGroup]="forgetForm" (ngSubmit)="sendCode()">

<!-- INPUT -->

<label class="label">Email or Phone Number</label>

<div class="input-box">

<i class="fa-solid fa-at"></i>

<input
formControlName="contact"
class="form-control"
placeholder="example@email.com or +201..."
>

</div>

@if(forgetForm.get('contact')?.errors && forgetForm.get('contact')?.touched){
<div class="error">
This field is required
</div>
}

<!-- BUTTON -->
<button  type="submit" class="btn send-btn w-100 mt-3" [disabled]="isLoading"


>

@if(isLoading){

    
Sending...
}
@else{
Send Reset Code
<i class="fa-solid fa-paper-plane ms-2"></i>
}

</button>

</form>

<!-- SUPPORT -->

<div class="support text-center mt-4">

Having trouble?
<a>Contact Smart Sports Support</a>

</div>

</div>

</div>

</div>