.register-page{

height:100vh;


background:
linear-gradient(rgba(0, 20, 10, 0.166), rgba(0, 20, 10, 0.277)),
url("../../../../public/assets/stadium.jpeg");

background-size:cover;
background-position:center;

}

/* card */

.register-card{

max-width:650px;
width:100%;

margin:auto;

background:rgba(0, 0, 0, 0.577);

padding:45px;

border-radius:18px;

color:white;

backdrop-filter:blur(10px);

box-shadow:0 20px 60px rgba(0,0,0,.6);

}

/* logo */

.logo-box{

width:85px;
height:85px;

background:linear-gradient(135deg,#0f3d2e,#052e1e);

border-radius:18px;

display:flex;
align-items:center;
justify-content:center;

font-size:35px;

color:#22c55e;

box-shadow:0 0 25px rgba(34,197,94,.5);


}

/* title */

.title{

font-size:30px;
font-weight:700;

}

.subtitle{

color:#94a3b8;

font-size:14px;

}

/* inputs */


input::placeholder{
color:#cbd5e154;
opacity:1;
}

.input-box{

position:relative;

i{

position:absolute;

left:15px;

top:50%;

transform:translateY(-50%);

color:#cbd5e161;

}

input{

padding-left:45px;

background:rgba(0,0,0,.4);

border:1px solid #14532d;

border-radius:12px;

color:white;

}

input:focus{

border-color:#22c55e;

box-shadow:0 0 0 2px rgba(34,197,94,.2);

}

}

/* button */

.register-btn{

background:linear-gradient(135deg,#22c55e,#16a34a);

border:none;

padding:12px;

font-weight:600;

border-radius:12px;

transition:.3s;

}

.register-btn:hover{

transform:translateY(-2px);

box-shadow:0 10px 25px rgba(34,197,94,.4);

}

/* tablet */

@media (max-width:992px){

.register-card{

padding:35px;

}

}

/* mobile */

@media (max-width:576px){

.register-card{

padding:25px;

}

.title{

font-size:24px;

}

.logo-box{

width:70px;
height:70px;

font-size:28px;

}

}

// error msg register

.error-msg{

color:#f87171;

font-size:13px;

margin-top:6px;

padding-left:5px;

}


/* validation icons */

.input-box input.is-valid{
border-color:#22c55e;
padding-right:45px;

background-color:rgba(0,0,0,.4) !important;

background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2322c55e' viewBox='0 0 16 16'%3E%3Cpath d='M13.485 1.929l-7.778 7.778-3.182-3.182-1.414 1.414 4.596 4.596 9.192-9.192z'/%3E%3C/svg%3E");

background-repeat:no-repeat;
background-position:right 15px center;
background-size:18px;
}

.input-box input.is-invalid{
border-color:#ef4444;
padding-right:45px;

background-color:rgba(0,0,0,.4) !important;

background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ef4444' viewBox='0 0 16 16'%3E%3Cpath d='M4 4 L12 12 M12 4 L4 12' stroke='%23ef4444' stroke-width='2'/%3E%3C/svg%3E");

background-repeat:no-repeat;
background-position:right 15px center;
background-size:18px;
}

.form-control{
background: rgba(0,0,0,.4) !important;
color:white !important;
}

.form-control:focus{
background: rgba(0,0,0,.4) !important;
color:white;
}



.back-btn{

border:none;
background:transparent;
font-size:20px;
color: #079007;

}

.back-btn:hover{
     transform: translateY(-1px);
  color:#044806;
}

