.admin-login-page{

min-height:100vh;

background:
linear-gradient(rgba(6,25,40,.92),rgba(6,25,40,.95)),
url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2");

background-size:cover;
background-position:center;

display:flex;
align-items:center;

}

.admin-card{

background:rgba(14,36,60,.95);

padding:40px;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,.5);

color:white;

}

.portal-title{

color:#9fb3c8;

font-weight:600;

letter-spacing:1px;

}

.login-title{

font-size:32px;

font-weight:700;

margin-top:5px;

}

.login-subtitle{

color:#b6c4d4;

font-size:14px;

margin-bottom:25px;

}

.label{

font-size:14px;

margin-bottom:5px;

color:#d3e0f0;

}

.input-wrapper{
position:relative;

i{
position:absolute;
left:15px;
top:50%;
transform:translateY(-50%);
color:#8aa0b6;
}

input{
height:48px;
border-radius:12px;
padding-left:40px;
padding-right:45px;   // مهم جدا للعين
border:none;
background:#f1f5fb;
}

.eye{
position:absolute;
right:50px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#8aa0b6;
font-size:15px;
}
}
.error-msg{

color:#ff6b6b;

font-size:13px;

margin-bottom:10px;

}

.strength-bars{

display:flex;

gap:8px;

margin-top:5px;

.bar{

height:6px;

flex:1;

background:#2f455d;

border-radius:5px;

}

.bar.active{

background:#3bd671;

}

}

.password-rules{

list-style:none;

padding:0;

font-size:13px;

color:#a7b8cc;

li{

margin-top:4px;

}

li.valid{

color:#3bd671;

}

i{

margin-right:6px;

}

}

.login-btn{

background:linear-gradient(45deg,#1e88e5,#42a5f5);

border:none;

height:50px;

border-radius:30px;

font-weight:600;

margin-top:20px;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-2px);

box-shadow:0 10px 25px rgba(0,0,0,.4);

}

.back-btn{

border:none;
background:transparent;
font-size:20px;
color: #f4f4f4;

}

.back-btn:hover {
  transform: translateY(-1px);
  color:#54b2c9;
}

@media(max-width:768px){

.admin-card{

padding:30px;

}

.login-title{

font-size:26px;

}

}

.forget-link{
font-size:13px;
color:#42a5f5;
cursor:pointer;
text-decoration:none;
}

.forget-link:hover{
text-decoration:underline;
}