<div class="admin-login-page">

<div class="container">

<div class="row justify-content-center align-items-center min-vh-100">

<div class="col-lg-5 col-md-7">

<div class="admin-card">

    <button class="back-btn" (click)="goBack()">
<i class="fa-solid fa-arrow-left"></i>
</button>

<!-- Header -->

<div class="text-center mb-4">

<h6 class="portal-title">Admin Portal</h6>

<h2 class="login-title">Admin Login</h2>

<p class="login-subtitle">
Secure access for smart sports club management
</p>

</div>

<form [formGroup]="adminLoginForm" (ngSubmit)="loginSubmit()">

<!-- EMAIL -->

<label class="label">Admin Email</label>

<div class="input-wrapper mb-2">

<i class="fa-regular fa-envelope"></i>

<input
type="email"
formControlName="email"
class="form-control"
placeholder="admin@sportsclub.com">

</div>

@if(adminLoginForm.get('email')?.errors && adminLoginForm.get('email')?.touched)
{
<div class="error-msg">
Email is required
</div>
}

<!-- PASSWORD -->

<label class="label">Admin Password</label>

<div class="input-wrapper mb-2">

<i class="fa-solid fa-lock"></i>

<input
[type]="showPassword ? 'text' : 'password'"
formControlName="password"
class="form-control"
placeholder="Enter password"
(input)="checkPasswordStrength()"
/>

<span class="eye" (click)="togglePassword()">
<i class="fa-regular" [ngClass]="showPassword ? 'fa-eye-slash':'fa-eye'"></i>
</span>

</div>

<!-- PASSWORD STRENGTH -->

<div class="strength-bars mb-2">

<div class="bar" [class.active]="passwordStrength>=1"></div>
<div class="bar" [class.active]="passwordStrength>=2"></div>
<div class="bar" [class.active]="passwordStrength>=3"></div>

</div>

<ul class="password-rules">

<li [class.valid]="hasLength">
<i class="fa-solid fa-check"></i>
At least 8 characters
</li>

<li [class.valid]="hasNumber">
<i class="fa-solid fa-check"></i>
Include a number or special character
</li>

</ul>

<!-- CLUB CODE -->

<label class="label mt-3">Club Code or Admin Key</label>

<div class="input-wrapper mb-2">

<i class="fa-solid fa-key"></i>

<input
formControlName="clubCode"
class="form-control"
placeholder="****-****-****">

</div>

@if(adminLoginForm.get('clubCode')?.errors && adminLoginForm.get('clubCode')?.touched)
{
<div class="error-msg">
Club code is required
</div>
}

@if(msgError){
<div class="error-msg text-center">
{{msgError}}
</div>
}

<!-- BUTTON -->

<button class="btn login-btn w-100">

Login as Administrator

</button>


<div class="text-end mb-2">

<a class="forget-link" routerLink="/forget-password">
Forgot password or key?
</a>

</div>

</form>

</div>

</div>

</div>

</div>

</div>