.reset-page{

min-height:100vh;
 background:
    linear-gradient(rgba(0, 20, 10, 0.166), rgba(0, 20, 10, 0.277)),
    url("../../../../public/assets/stadium.jpeg");

    background-size:cover;
    background-position:center;


}

.reset-card{

width:520px;
background:white;
border-radius:16px;
box-shadow:0 25px 60px rgba(0,0,0,0.08);
overflow:hidden;

}

.header{

padding:18px 20px;
border-bottom:1px solid #eee;

}

.back-btn{

border:none;
background:none;
font-size:18px;

}

.card-body{

padding:35px;

}

.icon-box{

width:70px;
height:70px;
border-radius:50%;
background:rgba(19,236,91,.15);
color:#13ec5b;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
margin:auto;

}

.title{

font-weight:700;
margin-top:20px;

}

.subtitle{

color:#6c757d;
font-size:14px;

}

.label{

font-weight:600;
margin-bottom:6px;

}

.input-box{
position:relative;
margin-bottom:10px;
}

.input-box i{

position:absolute;
left:15px;
top:50%;
transform:translateY(-50%);
color:#888;
font-size:15px;

}
.input-box input{
width:100%;
padding-left:45px;
padding-right:45px;
height:48px;
border-radius:10px;
}

.toggle{

position:absolute;
right:35px;
top:50%;
transform:translateY(-50%);
border:none;
background:none;
color:#888;
cursor:pointer;

}

.requirements{

margin-top:15px;
font-size:13px;

}

.requirements p{

margin:4px 0;
color:#6c757d;

}

.reset-btn{

background:#13ec5b;
border:none;
height:50px;
font-weight:600;
border-radius:12px;

}

.reset-btn:hover{

background:#10c94b;

}

.footer{

margin-top:25px;
font-size:12px;
color:#999;

}

@media(max-width:768px){

.reset-card{

width:92%;

}

}