.otp-page{

min-height:100vh;
 background:
    linear-gradient(rgba(0, 20, 10, 0.166), rgba(0, 20, 10, 0.277)),
    url("../../../../public/assets/stadium.jpeg");

    background-size:cover;
    background-position:center;

}

.otp-card{

width:480px;
background:white;
border-radius:20px;
padding:40px;
box-shadow:0 20px 50px rgba(0,0,0,0.08);

}

.otp-header{

position:relative;

}

.back-btn{

border:none;
background:transparent;
font-size:20px;

}

.icon-box{

width:80px;
height:80px;
background:rgba(19,236,91,.15);
color:#13ec5b;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:34px;
margin:auto;

}

.title{

font-weight:800;
margin-top:20px;

}

.subtitle{

color:#6c757d;
max-width:280px;
margin:auto;

}

.otp-inputs{

gap:12px;
margin-top:30px;

}

.otp-inputs input{

width:55px;
height:60px;
text-align:center;
font-size:22px;
font-weight:700;
border-radius:10px;

}

.otp-inputs input:focus{

border-color:#13ec5b;
box-shadow:none;

}

.verify-btn{

background:#13ec5b;
border:none;
height:50px;
font-weight:700;
border-radius:12px;

}

.verify-btn:hover{

background:#10c94b;

}

.resend{

margin-top:25px;

}

.resend p{

color:#6c757d;
margin-bottom:5px;

}

.resend a{

color:#13ec5b;
font-weight:600;
cursor:pointer;

}

@media (max-width:768px){

.otp-card{

width:90%;

}

}